.twilio-icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: cover;
    background-image: url("../images/Icon.svg");
}

li:hover a .twilio-icon {
    background-image: url("../images/Icon-Active.svg");
}

.active {
    .twilio-icon {
        background-image: url("../images/Icon-Active.svg");
    }

    &.twilio-icon {
        background-image: url("../images/Icon-Active.svg");
    }
}

#body {
    font-family: inherit;
}

.alert {
    padding: 20px;
    background-color: #2196F3;
    color: white;
    margin-bottom: 15px;    
}
